main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display: block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

#search_box {
  height: 27px;
  background-color: #343a40;
  border-bottom: 1px solid silver;
  border-radius: 3px;
  position: relative;
}
#search_box:focus {
  border: 1px solid #ffe484;
}
.nav__btn {
  font-family: "Ubuntu", sans-serif;
  border: 1px solid #ffe484;
  border-radius: 4px;
  color: black;
  background-color: #ffe484;
  font-size: 14px;
  vertical-align: middle;
  margin: 0px 0px 0px 16px;
  padding: 4px 15px;
  font-weight: 600;
}

.nav__btn:hover {
  background-color: #343a40;
  color: #ffe484;
}
.Navbar {
  max-height: 60px;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
  .Navbar {
    max-height: fit-content;
  }
}
